@keyframes grow-up {
    from {height: 0;}
    to {height: 156px;}
}

@keyframes grow-up-high {
    from {height: 0;}
    to {height: 218px;}
}

@keyframes grow-up-higher {
    from {height: 0;}
    to {height: 327px;}
}

@keyframes grow-up-blue {
    from {height: 0;}
    to {height: 358px;}
}