@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Gotham Pro', sans-serif;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.cloud {
    background-image: url("../../icons/cloud.svg");
    width: 160px;
    height: 59px;
    margin-left: 198px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    &_posfr5 {
        position: absolute;
        margin-left: 0;
        top: 80px;
        left: 253px;
    }
}

@import 'blocks/frame1';
@import 'blocks/frame2';
@import 'blocks/frame3';
@import 'blocks/frame4';
@import 'blocks/frame5';
@import 'blocks/frame6';
@import 'blocks/frame7';
@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/info';
@import 'blocks/windows';