.button {
    width: 163px;
    height:40px;
    margin-top: 32px;
    background-color: #5364FF;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}