.frame6 {
    height: 900px;
    background-color: #fff;
    padding: 149px 0 137px 0;
    &__bg {
        position: absolute;
        top: -149px;
        left: 425px;
        width: 500px;
        height: 325px;
    }
    &__wrapper {
        display: flex;
        margin-top: 125px;
    }
}