.frame3 {
    position: relative;
    height: 900px;
    background-color: #fff;
    padding: 149px 0 137px 0;
    &__bg {
        display: block;
        position: absolute;
        width: 753px;
        height: 359px;
        top: -149px;
        left: 280px;
    }
    &__wrapper {
        display: flex;
        margin-top: 74px;
    }
    .diagram {
        padding-bottom: 7px;
        width: 359px;
        &__blocks {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 24px;
            width: 303px;
            height: 358px;
        }
        &__block {
            width: 51px;
            height: 156px;
            background-color: #EBEEF2;
            border-radius: 5px;
            &_heigh {
                height: 218px;
            }
            &_heigher {
                height: 327px;
            }
            &_blue {
                height: 358px;
                background-color: $main-color;
            }
        }
    }
}