.title {
    margin-left: -10px;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 700;
    font-size: 160px;
    color: $text-color;
    span {
        color: $main-color;
    }
    &__white {
        color: #fff;
        text-align: center;
    }
    &_mini {
        font-family: 'Neue Machina';
        font-weight: 700;
        font-size: 84px;
        color: $text-color;
    }
    &_lh68{
        line-height: 68px;
        margin-left: 55px;
    }
    &_fz32 {
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }
}